
/* ==========================================================================
   General, blue 5797aa, orange efc14f
   ========================================================================== */

html, body { 
	height: 100%;
}

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(font/sansPro.woff) format('woff');
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	min-width: 1200px;
	font-size: 14px;
	line-height: 1.4;
}

input[type=radio],input[type=checkbox] {display: none;} 
label {display: inline-block;cursor: pointer;}
label:before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border: 1px #444 solid;
}
.radio label:before {border-radius: 8px;}
.checkbox label {margin-bottom: 10px;}
.checkbox label:before {border-radius: 3px;}
input[type=checkbox]:checked + label:before {
	content: "\2713";
	font-size: 12px;
	color: #444;
	text-align: center;
    line-height: 10px;
    border: 1px #888 solid;
}

.descPara {
	padding-bottom: 50px; 
}

#top_sec {
	height: 400px;
	background-color: #444; 
}

#header {
	height: 50px;
	background: #444; 
	position: relative;
}

#LOGO {
	float: left;
	color: #fff;
	margin-left: 10px;
	font-size: 24px;
	height: 50px;
	margin-top: 10px;
}
#LOGO a {
	color: #fff;
	text-decoration: none;
}

#menu {
	float: right;
	margin-right: 20px; 
	width: 120px;
	text-align: center;
}

#menu p a {text-decoration: none;color: #fff;}
#menu p a:hover{color: #efc14f;}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: #fff;
	background: #444; 
}

.footer_copyright {
	margin-left: 10px; 
	font-size: 12px;
	line-height: 20px;
}
.footer_copyright a {
	text-decoration: none; 
	color: #fff;
}
.footer_copyright a:hover {
	color: #efc14f;
}

/* ==========================================================================
   PAGE ONE 1 
   ========================================================================== */


#Page1 {
	width: 800px; 
	margin: 40px auto 0;
}

h1 {
	font-size: 17px; 
	font-weight: 800;
	margin-bottom: 2em;
	text-align: center; 
	color: #444;
	text-transform:uppercase;
}

h2 {
	font-size: 24px;
	font-weight: bold; 
	text-align: center; 
	text-transform:uppercase;	
}

.with-bracket {
	color: #fff;
	z-index: 10;
}

.with-bracket:after {
	content: "";
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #fff;
	height: 5px;
	display: block;
	margin-top: -10px;
}

.with-bracket span {
	background-color: #444;
	padding: 0 1em;
}

.button {
	color: #fff;
	background: #888; 
	font-weight: bold;
	transition: background 0.2s;
}

.button:hover {
	background: #4e4e4e;
}

#frmUpload {
	width: 797px;
	height: 80px;
	border: 1px #444 solid;
	border-bottom: none;
	display: inline-block;
}

#fakeBrowse {
	width: 200px;
	height: 79px; 
	float: right;
	border: none; 
	font-size: 20px;
}

#txtFakeText {
	width: 585px;
	height: 77px;
	border: none; 
	font-size: 18px; 
	text-align: center; 
}

#fileDrag {
    width: 590px;
    height: 76px;
    margin-top: -78px; 
    background: #eee; 
	font-size: 20px; 
	font-weight: bold; 	
	text-align: center; 
    text-align: center;
    line-height: 80px; 
    border: 1px #444 dashed;
    border-top: none;  
	z-index:0; 
	opacity:0; 
}

#fileDrag.hover {
	z-index:5;
	opacity:1;
}

#progress_bar {
	width: 798px; 
	border-left: 1px #444 solid;
	border-right: 1px #444 solid;
	font-size: 10px;
	color: white; 
	text-align: right;
	clear: both;
	opacity: 0;
	-moz-transition: opacity 300ms linear;
	-o-transition: opacity 300ms linear;
	-webkit-transition: opacity 300ms linear;

}

#progress_bar.loading {
	opacity: 1.0;
}

#progress_bar .percent {
	background-color: #efc14f;
	height: 10px; 
	width: 0; 
    -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:         all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#parse {
	width: 800px;
	height: 80px; 
	background: #888; 
	border: none; 
	font-size: 20px; 
	transition: background 0.2s;
}

#parse:hover {
	background: #4e4e4e;
}

#NotSupported {
	width: 800px;
	margin: auto;
	text-align: center;
	display: none;
}

#recent {
	width: 800px;
	margin: auto;
}

#desc {
	width: 800px; 
	margin: auto;
}

#recent_data {
	position: relative;
	z-index:2;
	font-size: 13px;
	width: 800px;
	text-align: center;
	border-bottom: 1px #ccc solid;
}

td { border-right: 1px #ccc solid;}
#recent_data .header { background-color: #444; color: #fff; }
.recent_data .del, .recent_data .print, .recent_data .reload { cursor: pointer; }
.del:hover, .reload:hover {color: #efc14f;}
.even { background-color: #eee; }

/* ==========================================================================
   PAGE TWO 2
   ========================================================================== */

#up_sec {
	width: 100%;
	height: 120px;
	position: relative;
}

#bottom_sec {
	width: 100%;
	margin-left: 10px; 
	margin-right: 10px;
}

#file_details {
	position: absolute;
	float: left;
	min-width: 320px;
	height: 120px;
}

#back_box {
	width:100%;
	min-width: 320px;
	height: 85px;
	border: 1px #bbb solid;
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px;
}

#box_title {
	width: 100px;
	margin-left: 10px;
	margin-top: -10px;
	background: white;
	text-align: center;
	font-weight: bold;
}

#file_numbers {
	margin-left: 10px;
	line-height: 15px;
	margin-right: 10px;
	height: 45px;
	overflow-y: scroll;
}

.dg {
	text-shadow: none !important;
	font-size: 12px !important;
}
.dg.ac {
	position: absolute !important;
	top: 50px !important;
}
.dg.main {
	width: 150px !important;
	font-size: 12px;
	margin-right: 0px !important;
}
.dg .cr {
	background-color: #444 !important;
}
.dg .cr.boolean {
	border-left: 3px solid #efc14f !important;
}
.dg .cr.boolean * {
	cursor: pointer;
	text-align: center;
	width: 143px !important;
}
.dg .cr.function {
	border-left: 3px solid #efc14f !important;
}
.dg .cr.function * {
	cursor: pointer;
	text-align: center;
	width: 143px !important;
}

.close-button {
	background-color: #444 !important;
	width: 150px !important;
}

#left_control_panel {
	width: 320px;
	border: 1px #bbb solid;
	margin-top: 10px; 
	float: left;
	margin-bottom: 30px;
}

#right_live_panel {
	width: calc(100% - 394px);
	min-width: 600px;
	border: 1px #bbb solid;
	border-top: none;
	margin-left: 30px;
	margin-top: 10px;
	margin-right: 40px;
	float: right;
	margin-bottom: 30px;
}

.att_head {
	border: none;
	height: 35px;
	color: #fff;
	background: #444;
	font-size: 13px;
	line-height: 35px;
	font-weight: bold; 
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.biom_valid_attr_dates {
	margin-left: 10px; 
	font-size: 14px; 
	line-height: 32px; 
}

#numeric_att {
	padding-left: 10px; 
}

#non_numeric_att {
	margin-left: 10px;
}

#groupable_att {
	margin-left: 10px;
}

.select_all_check {
	float: right;
	margin-right: 10px;
}

.biom_valid_attr {
	margin-left: 10px;
	font-size: 14px;
	line-height: 32px;
}

.biom_valid_attr_units {
	display: none;
	width: 50px;
	height: 16px;
	font-size: 14px;
	margin-left: 10px;
	text-align: center;
	border: 1px #bbb solid;
}

.biom_valid_attr_grp {
	margin-left: 10px;
}

.biom_valid_notes {
	font-size: 14px;
	font-style: italic;
}

.biom_valid_att_thumbnail {
	margin-left: 20px;
	margin-top: 10px;
}

.biom_valid_att_thumbnail_sm {
	width: 130px;
	margin-top: 8px;
	float: right;
	margin-right: 25px;
}

.biom_valid_att_thumbnail_dates {
	margin-left: 20px;
	margin-top: 10px;
	height: 57px;	
}
.biom_valid_att_slider {
	margin-left: 20px; 
	height: 50px !important; 
	margin-top: -57px; 
	opacity: 0.4;	
}

.blackSticks {
	width: 248px;
	height: 10px;
	border-top: 1px #000 solid;
	border-left: 1px #000 solid;
	margin-left: 20px;
	border-right: 1px #000 solid;
}

.ui-slider-handle { height: 0.8em !important; width: 0.8em !important;}

.icon-expand-collapse-c {
	float: right;
  	margin-right: 10px;
  	color: #3c687b;
	margin-top: 8px;
}

.range_left {
	margin-top: 2px; 
	font-size: 11px;
	line-height: 11px;
	padding: 0;
	margin-left: 20px;
}

.range_right {
	margin-top: -22px;
	margin-left: 260px;
	font-size: 11px; 
	line-height: 11px;
	padding: 0;
}

.range_new {
	display: none; 
	font-size: 11px; 
	padding: 0;
	float: right;
	margin-top: 8px;
	margin-right: 10px;
}

.range_left_dates {
	font-size: 10px; 
	line-height: 10px;
	padding: 0;
	margin-left: 0px;
}

.range_right_dates {
	margin-top: -30px;
	margin-left: 250px;
	font-size: 10px; 
	line-height: 10px;
	padding: 0;
}

.range_new_dates {
	font-size: 12px; 
	float: right;
	margin-right: 20px;
	margin-top: 0px;
}

.tooltipOverSmallThumb {
	position: absolute;
	font-size: 12px;
	padding: 5px;
	border-radius: 3px;
	background: rgba(255,255,255,0.9);
	color: #000;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border: 1px solid rgba(200,200,200,0.85);
	text-align: left;	
}

/* Tables */

.myTableHeader { padding-left: 20px;}
#myTable { width: 100%; line-height: 28px;}
#myTable_length { display: none; margin-top: 5px;  height: 25px; margin-left: 10px;}
#myTable_filter { display: none; float: right; height: 25px; margin-right: 10px; margin-top: -25px; margin-bottom: 10px;}
#myTable select { border: none; }
#myTable tbody { text-align: left;  }
#myTable thead { width: 35px; background: #444; color: #fff; }
#myTable th { height: 35px; line-height: 35px; font-size: 13px;}
#myTable tr { border-left: none; border-right: none; text-align: left;}
#myTable td { border-right: 1px #ccc solid; padding-left: 20px;}
#myTable_info { margin-top: 5px;  height: 25px; margin-left: 10px; }
#myTable_paginate { float: right; height: 25px; margin-right: 10px; margin-top: -25px; margin-bottom: 5px;}
#myTable_previous { margin-right: 10px; background: #ccc; padding: 3px; cursor: pointer; cursor: hand;}
#myTable_next { background: #ccc; padding: 3px; cursor: pointer; cursor: hand;}
#myTable .sorting_asc { background: url('images/asc.png') no-repeat center right; background-size:15px 15px; }
#myTable .sorting_desc { background: url('images/dec.png') no-repeat center right; background-size: 15px 15px;}


/* ==========================================================================
   PAGE THREE 3 - GALLERY
   ========================================================================== */

#GraphGallery {
	min-height: 900px;
}

#goBackFilter {
	position: absolute;
	width: 150px;
	height: 40px; 
	color: #fff;
	background: #444; 
	border: none; 
	font-size: 15px; 
	font-weight: bold; 
	margin-left: 10px;
	margin-top: -55px;
}

.col3 {
	width: 30%; 
	height: auto;
	min-height: 250px;
	float: left;
	padding-right: 1%;
	margin: 0% 10px; 
}

.col3 img {
	display: inline-block;
	border: 1px #888 solid;
	width: 100%;
}

.graphGalleryTitle {
	width: 100%; 
	height: 20px;
	float: left;
	text-align: center;
}

/* ==========================================================================
   PAGE FOUR 4 - Viz Bar 
   ========================================================================== */

#taxonomy_container {
	display: none; 
	width: 100%;
	display: none; 
}

#attributes_dropdown {
	border: none;
}
.layer_change {
	background: #444;
	color: #fff;
	line-height: 28px;
	cursor:pointer;
}

.current_layer {
	color: #efc14f !important;
}

.loading_notes {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#pinch_tooltip {
	position: absolute;
	font-size: 12px;
	line-height: 16px;
	padding: 10px;
	border-radius: 3px;
	background: rgba(255,255,255,0.9);
	color: #000;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border: 1px solid rgba(200,200,200,0.85);
	text-align: left;	
}

#pinch_pannel {
	position: absolute;
	right: 30px;
	top: 200px;
	width: 880px;
	background: rgba(255,255,255,0.9);
	color: #000;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border: 1px solid rgba(200,200,200,0.85);
	text-align: left;		
}

#pinch_pannel span {
	margin-left: 20px;
}

#pinch_pannelTooltip {
	position: absolute;
	font-size: 12px;
	line-height: 16px;
	padding: 10px;
	border-radius: 3px;
	background: rgba(255,255,255,0.9);
	color: #000;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border: 1px solid rgba(200,200,200,0.85);
	text-align: left;	
}

#removePanel {
	position:absolute;
	right:40px;
	top:210px;
}

rect.pane {
	cursor: move;
	pointer-events: all;
}

#tags {
	display: none;
	width: 150px;
	height: 16px;
	position: absolute;
	right: 170px;
	top: 55px;
	font-size: 12px;
}

#autoCompleteList { 
	display: none;
	position: absolute;
	right: 170px;
	top: 90px;
	font-size: 12px; 
	line-height: 16px; 
	border-radius: 3px; 
	background: rgba(255,255,255,0.9); 
	color: #000; 
	box-shadow: 0 1px 5px rgba(0,0,0,0.4); 
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	overflow-y: scroll;
	max-height: 500px;
	z-index: 1;
}
#autoCompleteList ul {
	list-style: none;
	padding: 0 20px;
}
#autoCompleteList ul li:hover{
	background: rgba(239,193,79,0.6);
	cursor: pointer;
}
#deleteSampleArr {
	list-style: none;
	padding: 0 10px;
}
#deleteSampleArr li:hover {
	background: rgba(239,193,79,0.6);
	cursor: pointer;
}

.PanelHead {
	font-size: 12px;
	margin-bottom: 2px;
	color: #444;
	text-align: center;
	margin: 0 10px 10px 10px;
}
.PanelRule {
	height: 2px;
	margin: 5px 10%;
	background: #ddd;
	width: 80%;
}
.PanelvaluesContainer {
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
	text-align: center;
}
.PanelValue {
	float: left;
	top: 28px;
	width: 33%;
}
.PanelTtl {
	float: left;
	width: 33%;
}
.PanelPercent {
	float: left;
	width: 33%;
	margin-bottom: 10px;
}
.PanelSlider {
	background-color: #efc14f;
	height: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.PanelTrueValue {
	background-color: rgba(68,68,68,0.3);
	height: 16px;
	margin-top: -23px;
}
.PanelTtlAvg {
	color: #efc14f;
	font-weight: bold;
}
#fake_taxonomy_container {
	position: absolute;
	top: 270px;
	left: 50px;
	z-index: -1;
}
.fake {
	height: 12px;
	margin-bottom: 2px;
	background-color: rgba(0,0,0,0); 
}
#outline {
	display: none;
	position: fixed;
	right: 0px;
	top: 420px;
	cursor: default !important;
}

.node rect {
  fill-opacity: .8;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 10px;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}

.donutDiv {
	width: 1200px;
	height: 270px;
	margin-left: 50px;
}
.panelCombSample {
	float: left;
	width: 880px;
	height: 220px;
	margin-top: 10px;
	font-size: 12px;
	padding: 5px;
	border-radius: 3px;
	background: rgba(255,255,255,0.9);
	color: #000;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border: 1px solid rgba(200,200,200,0.85);
	text-align: right;
	overflow: scroll;
}
.containedTaxonomy {
	padding-right: 20px;
	font-style: italic;
}

#countResult {
	position: absolute;
	width: 400px;
	height: 200px;
	right: 170px;
	top: 90px;
	font-size: 12px;
	line-height: 16px;
	border-radius: 3px;
	background: rgba(255,255,255,0.9);
	color: #000;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	overflow-y: scroll;
	max-height: 500px;
	z-index: 1;
}

/* ==========================================================================
   Normalize
   ========================================================================== */

article, aside,details,figcaption,figure,footer,header,hgroup,nav,section,
summary {display: block;}
[hidden] {display: none;}
a:active,a:hover {outline: 0;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;display: block;width: 100%;height: 0;border: 0;border-top: 1px solid #ccc;padding: 0;}
img {border: 0;-ms-interpolation-mode: bicubic; vertical-align: middle;}
button,input,select,textarea {font-size: 100%;margin: 0; vertical-align: baseline; *vertical-align: middle; }
button,input {line-height: normal;}
button,select {text-transform: none;}
button, html input[type="button"],
input[type="reset"],input[type="submit"] {-webkit-appearance: button; cursor: pointer; *overflow: visible; }
button[disabled], html input[disabled] {cursor: default;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box;padding: 0; *height: 11px; *width: 11px;}
input[type="search"] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box; box-sizing: content-box;}
p,pre {margin: 1em 0;}
svg:not(:root) {overflow: hidden;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0;}
table { border-collapse: collapse; border-spacing: 0;}

.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
.invisible {visibility: hidden;}
.clearfix:before,.clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}

/* ==========================================================================
   jQuery UI - Slider
   ========================================================================== */

.ui-slider {position: relative;text-align: left;}
.ui-slider .ui-slider-handle {position: absolute;z-index: 2;width: 1.2em;height: 1.2em;cursor: default;}
.ui-slider .ui-slider-range {position: absolute;z-index: 1;font-size: .7em;display: block;border: 0;background-position: 0 0;}
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range { filter: inherit;}
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-widget {font-family: Verdana,Arial,sans-serif;font-size: 1.1em; }
.ui-widget .ui-widget {font-size: 1em; }
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {font-family: Verdana,Arial,sans-serif;font-size: 1em; }
.ui-widget-content {border: 1px solid #aaaaaa;color: #222222; }
.ui-widget-content a {color: #222222; }
.ui-widget-header {border: 1px solid #888 !important;background: #666;color: #222222;font-weight: bold; }
.ui-widget-header a {color: #222222; }
.ui-state-default, .ui-state-default,.ui-widget-header .ui-state-default {border: 1px solid #000;border-radius: 2px;background: url(images/lines.png);font-weight: normal;color: #555555;margin-top: 25px;}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {color: #555555;text-decoration: none;}
.ui-state-hover,.ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {border: 1px solid #999999;background: url(images/lines.png);font-weight: normal;color: #212121;}  /**/

.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,
.ui-state-hover a:visited {color: #212121;text-decoration: none;}
.ui-state-active,.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {border: 1px solid #aaaaaa;background: #ffffff url(images/lines.png);font-weight: normal;color: #212121;}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {color: #212121;text-decoration: none;}
.ui-autocomplete { position: absolute; cursor: default; }
.ui-helper-hidden-accessible {display: none;}
#ui-id-1 {display: none !important;}

/* ==========================================================================
   FONT Awesome 
   ========================================================================== */

@font-face {
	font-family: 'FontAwesome';
	src: url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
	font-weight: normal; font-style: normal;
}

[class^="icon-"],[class*=" icon-"] {font-family: FontAwesome;font-weight: normal;font-style: normal;text-decoration: inherit;-webkit-font-smoothing: antialiased;*margin-right: .3em;}
[class^="icon-"]:before,[class*=" icon-"]:before {text-decoration: inherit;display: inline-bloc;speak: none;}
.icon-large:before {vertical-align: -10%;font-size: 1.333333333333333em;}
a [class^="icon-"], a [class*=" icon-"] {display: inline;}
[class^="icon-"].icon-fixed-width,[class*=" icon-"].icon-fixed-width {display: inline-block;width: 1.1428571428571428em;text-align: right;padding-right: 0.2857142857142857em;}
[class^="icon-"].icon-fixed-width.icon-large,[class*=" icon-"].icon-fixed-width.icon-large {width: 1.4285714285714286em;}
.icons-ul {margin-left: 2.142857142857143em;list-style-type: none;}
.icons-ul > li {position: relative;}
.icons-ul .icon-li {position: absolute;left: -2.142857142857143em;width: 2.142857142857143em;text-align: center;line-height: inherit;}
[class^="icon-"].hide,[class*=" icon-"].hide {display: none;}
.icon-muted {color: #eeeeee;}
.icon-light {color: #ffffff;}
.icon-dark {color: #333333;}
.icon-border {border: solid 1px #eeeeee;padding: .2em .25em .15em;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.icon-2x {font-size: 2em;}
.icon-2x.icon-border {border-width: 2px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.icon-3x {font-size: 3em;}
.icon-3x.icon-border {border-width: 3px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.icon-4x {font-size: 4em;}
.icon-4x.icon-border {border-width: 4px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.pull-right {float: right;}
.pull-left {float: left;}
[class^="icon-"].pull-left,[class*=" icon-"].pull-left {margin-right: .3em;}
[class^="icon-"].pull-right,[class*=" icon-"].pull-right {margin-left: .3em;}
[class^="icon-"],[class*=" icon-"] {display: inline;width: auto;height: auto;line-height: normal;vertical-align: baseline;background-image: none;background-position: 0% 0%;background-repeat: repeat;}
.icon-white,.nav-pills > .active > a > [class^="icon-"],.nav-pills > .active > a > [class*=" icon-"],.nav-list > .active > a > [class^="icon-"],.nav-list > .active > a > [class*=" icon-"],.navbar-inverse .nav > .active > a > [class^="icon-"],.navbar-inverse .nav > .active > a > [class*=" icon-"],.dropdown-menu > li > a:hover > [class^="icon-"],.dropdown-menu > li > a:hover > [class*=" icon-"],.dropdown-menu > .active > a > [class^="icon-"],.dropdown-menu > .active > a > [class*=" icon-"],.dropdown-submenu:hover > a > [class^="icon-"],.dropdown-submenu:hover > a > [class*=" icon-"] {background-image: none;}
.btn [class^="icon-"].icon-large,.nav [class^="icon-"].icon-large,.btn [class*=" icon-"].icon-large,.nav [class*=" icon-"].icon-large {line-height: .9em;}
.btn [class^="icon-"].icon-spin,.nav [class^="icon-"].icon-spin,.btn [class*=" icon-"].icon-spin,.nav [class*=" icon-"].icon-spin {display: inline-block;}
.nav-tabs [class^="icon-"],.nav-pills [class^="icon-"],.nav-tabs [class*=" icon-"],.nav-pills [class*=" icon-"],.nav-tabs [class^="icon-"].icon-large,.nav-pills [class^="icon-"].icon-large,.nav-tabs [class*=" icon-"].icon-large,.nav-pills [class*=" icon-"].icon-large {line-height: .9em;}
.btn [class^="icon-"].pull-left.icon-2x,.btn [class*=" icon-"].pull-left.icon-2x,.btn [class^="icon-"].pull-right.icon-2x,.btn [class*=" icon-"].pull-right.icon-2x {margin-top: .18em;}
.btn [class^="icon-"].icon-spin.icon-large,.btn [class*=" icon-"].icon-spin.icon-large {line-height: .8em;}
.btn.btn-small [class^="icon-"].pull-left.icon-2x,.btn.btn-small [class*=" icon-"].pull-left.icon-2x,.btn.btn-small [class^="icon-"].pull-right.icon-2x,.btn.btn-small [class*=" icon-"].pull-right.icon-2x {margin-top: .25em;}
.btn.btn-large [class^="icon-"],.btn.btn-large [class*=" icon-"] {margin-top: 0;}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x {margin-top: .05em;}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x {margin-right: .2em;}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x {margin-left: .2em;}
.nav-list [class^="icon-"],.nav-list [class*=" icon-"] {line-height: inherit;}
.icon-stack {position: relative;display: inline-block;width: 2em;height: 2em;line-height: 2em;vertical-align: -35%;}
.icon-stack [class^="icon-"],.icon-stack [class*=" icon-"] {display: block;text-align: center;position: absolute;width: 100%;height: 100%;font-size: 1em;line-height: inherit;*line-height: 2em;}
.icon-stack .icon-stack-base {font-size: 2em;*line-height: 1em;}
.icon-spin {display: inline-block;-moz-animation: spin 2s infinite linear;-o-animation: spin 2s infinite linear;-webkit-animation: spin 2s infinite linear;animation: spin 2s infinite linear;}
a .icon-stack, a .icon-spin {display: inline-block;text-decoration: none;}
@-moz-keyframes spin {0% {-moz-transform: rotate(0deg);}100% {-moz-transform: rotate(359deg);}}
@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg);}100% {-webkit-transform: rotate(359deg);}}
@-o-keyframes spin {0% {-o-transform: rotate(0deg);}100% {-o-transform: rotate(359deg);}}
@-ms-keyframes spin {0% {-ms-transform: rotate(0deg);}100% {-ms-transform: rotate(359deg);}}
@keyframes spin {0% {transform: rotate(0deg);}100% {transform: rotate(359deg);}}
.icon-rotate-90:before {-webkit-transform: rotate(90deg);-moz-transform: rotae(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
.icon-rotate-180:before {-webkit-transform: rotate(180deg);-moz-transform: rotat(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
.icon-rotate-270:before {-webkit-transform: rotate(270deg);-moz-transform: rotat(270deg);-ms-transform: rotate(270deg);-o-transform: rotate(270deg);transform: rotate(270deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.icon-flip-horizontal:before {-webkit-transform: scale(-1, 1);-moz-transform: scale(-1, );-ms-transform: scale(-1, 1);-o-transform: scale(-1, 1);transform: scale(-1, 1);}
.icon-flip-vertical:before {-webkit-transform: scale(1, -1);-moz-transform: scale(1,-1);-ms-transform: scale(1, -1);-o-transform: scale(1, -1);transform: scale(1, -1);}
a .icon-rotate-90:before,a .icon-rotate-180:before,a .icon-rotate-270:before,a .icon-flip-horizontal:before,a .icon-flip-vertical:before {display: inline-block;}

.icon-home:before {content: "\f015";}
.icon-info-sign:before {content: "\f05a";}
.icon-chevron-sign-left:before {content: "\f137";}
.icon-question-sign:before {content: "\f059";}
.icon-github:before {content: "\f09b";}
.icon-upload-alt:before {content: "\f093";}
.icon-trash:before {content: "\f014";}
.icon-expand-alt:before {content: "\f116";}
.icon-collapse-alt:before {content: "\f117";}
.icon-remove:before { content: "\f00d"; }
.icon-zoom-in:before { content: "\f00e"; }
.icon-zoom-out:before { content: "\f010"; }
.icon-file-text-o:before { content: "\f0f6"; }

