/* ==========================================================================
   General
   ========================================================================== */

@font-face { font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(font/sansPro.woff) format('woff');}
@font-face { font-family: 'Varela Round'; font-style: normal; font-weight: 400; src: local('Varela Round'), local('VarelaRound-Regular'), url(font/VarelaRound.woff2) format('woff2'), url(font/VarelaRound.woff) format('woff');}
@font-face { font-family: 'Karla'; font-style: normal; font-weight: 400; src: local('Karla'), local('Karla-Regular'), url(font/Karla) format('woff2'), url(font/Karla.woff) format('woff');}
@font-face { font-family: 'Karla'; font-style: normal; font-weight: 700; src: local('Karla Bold'), local('Karla-Bold'), url(font/Karla-Bold.woff2) format('woff2'), url(font/Karla-Bold.woff) format('woff');}

html, body { font-family: 'Varela Round', sans-serif; height: 100%; margin: 0; padding: 0; min-width: 1200px; font-size: 14px; line-height: 1.4;}

textarea, input, table, button, select { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; outline: none; }
input[type=radio],input[type=checkbox] {display: none;} 
label {display: inline-block;cursor: pointer;}
label:before { content: ""; display: inline-block; width: 12px; height: 12px; background-color: #fff; border: 1px #ccc solid;}
input[type=checkbox]:checked + label:before { content: "\2713"; font-size: 12px; color: #241f20; text-align: center; line-height: 14px; border: 1px #241f20 solid;}
.radio label:before {border-radius: 8px;}
.checkbox label {margin-bottom: 10px;}
.checkbox label:before {border-radius: 3px;}

h1, h2 { font-size: 22px;  text-align: center;  margin: 0; color: #241f20;}
h1 { margin-bottom: 20px; font-weight: 400;}
h2 { font-family: 'Karla', sans-serif; font-weight: 700;}
td { border: 2px #ccc solid; color: #ababab; height: 26px;}
#about h1 { margin-bottom: 10px;}
.logo { float: left;}
.logo img { margin: 0 0 0 20px;}
#NotSupported { width: 800px; margin: auto; text-align: center; display: none;}

#help { float: right; margin: -25px 20px 0 0; font-size: 16px; text-decoration: none; color: #000;}
#help:hover { border-bottom: 4px solid #241f20; cursor: pointer; -webkit-transition:.2s; -moz-transition:.2s; -o-transition:.2s; transition:.2s;}
#dialog-modal { display: none; height: 510px !important; overflow-y: scroll;}
.descPara { font-family: 'Varela Round', sans-serif; margin: 20px 0;}
.descPara a { outline: 0; color: #241f20 !important;}
.descPara span { font-size: 15px; font-weight: 800;}

#head_sec { width: 100%; height: 80px; background: #f0f0f0;}
#up_sec { width: 100%; height: 90px; position: relative;}
.pageName {border: 2px solid #241f20; width: 200px; margin-left: 20px; text-align: center; line-height: 50px; float: left; font-size: 16px;}

#file_details { font-family: 'Karla', sans-serif; position: absolute; font-size: 13px; line-height: 13px; color: #919396; margin: 22px 0 0 250px;}
#file_details span { font-family: 'Varela Round', sans-serif; color: #000; font-size: 20px;}

.orange_btn { font-family: 'Karla', sans-serif; width: 130px; height: 40px; float: right; border: none; font-size: 16px; background-color: #241f20; color: #fff; margin: 15px 20px 0 0;}
.basicTooltip { position: absolute; font-size: 12px; color: #000; background: #fff; border: 1px solid rgba(200,200,200,0.85); border-radius: 1px; padding: 5px 5px 15px 5px;}

/* ==========================================================================
   Normalize
   ========================================================================== */

article, aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block;}
[hidden] {display: none;}
a:active,a:hover {outline: 0;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;display: block;width: 100%;height: 0;border: 0;border-top: 1px solid #ccc;padding: 0;}
img {border: 0;-ms-interpolation-mode: bicubic; vertical-align: middle;}
button,input,select,textarea {font-size: 100%;margin: 0; vertical-align: baseline; *vertical-align: middle; }
button,input {line-height: normal;}
button,select {text-transform: none;}
button, html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button; cursor: pointer; *overflow: visible; }
button[disabled], html input[disabled] {cursor: default;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box;padding: 0; *height: 11px; *width: 11px;}
input[type="search"] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box; box-sizing: content-box;}
p,pre {margin: 1em 0;}
svg:not(:root) {overflow: hidden;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner,input::-moz-focus-inner { border: 0; padding: 0;}
table { border-collapse: collapse; border-spacing: 0;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
.invisible {visibility: hidden;}
.clearfix:before,.clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}

/* ==========================================================================
   jQuery UI - Slider
   ========================================================================== */

.ui-slider {position: relative;text-align: left; outline: 0;}
.ui-slider-handle { height: 0.8em !important; width: 0.3em !important; outline: 0;}
.ui-slider .ui-slider-handle {position: absolute;z-index: 2;width: 1.2em;height: 1.2em;cursor: default;}
.ui-slider .ui-slider-range {position: absolute;z-index: 1;font-size: .7em;display: block;border: 0;background-position: 0 0;}
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range { filter: inherit;}
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.1em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-widget {font-family: Verdana,Arial,sans-serif;font-size: 1.1em; }
.ui-widget .ui-widget {font-size: 1em; }
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {font-family: Verdana,Arial,sans-serif;font-size: 1em; }
.ui-widget-content {color: #222222; }
.ui-widget-content a {color: #222222; }
.ui-widget-header {border: none !important; background: #c6c6c6; color: #222222;font-weight: bold; }
.ui-widget-header a {color: #222222; }
/*.ui-state-default, .ui-state-default,.ui-widget-header .ui-state-default {border: 1px solid #000;border-radius: 2px;background: url(images/lines.png);font-weight: normal;color: #555555;margin-top: 25px;}*/
.ui-state-default, .ui-state-default,.ui-widget-header .ui-state-default {background-color: #000; font-weight: normal; margin-top: 25px;}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {color: #555555;text-decoration: none;}
.ui-state-hover,.ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,
/*.ui-widget-header .ui-state-focus {border: 1px solid #999999;background: url(images/lines.png);font-weight: normal;color: #212121;}  /**/*/
.ui-widget-header .ui-state-focus {background-color: #000;font-weight: normal;color: #000;}  /**/

.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,
.ui-state-hover a:visited {color: #212121;text-decoration: none;}
.ui-state-active,.ui-widget-content .ui-state-active,
/*.ui-widget-header .ui-state-active {border: 1px solid #aaaaaa;background: #ffffff url(images/lines.png);font-weight: normal;color: #212121;}*/
.ui-widget-header .ui-state-active {background-color:#000;font-weight: normal;color: #212121;}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {color: #212121;text-decoration: none;}
.ui-autocomplete { position: absolute; cursor: default; }
.ui-helper-hidden-accessible {display: none;}

#ui-id-1 {display: none !important;}
.ui-widget-overlay { background: #000; opacity: 0.5; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 4;}
.ui-dialog { z-index: 5; background: #fff; border: 1px solid rgba(0,0,0,0.2); box-shadow: 0 3px 9px rgba(0,0,0,0.5); outline: 0; color: #222222; width: 800px !important; height: 580px !important; top: 120px !important; position: fixed !important; left: 300px !important;}
.ui-dialog-titlebar { background: #fff; }
.ui-dialog-titlebar-close { background: none !important; border: none !important; margin-left: 760px;}
.ui-dialog-content {border: none !important; padding: 0 20px; }

/* ==========================================================================
   FONT Awesome 
   ========================================================================== */

@font-face { font-family: 'FontAwesome'; src: url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg'); font-weight: normal; font-style: normal; }
[class^="icon-"],[class*=" icon-"] {font-family: FontAwesome;font-weight: normal;font-style: normal;text-decoration: inherit;-webkit-font-smoothing: antialiased;*margin-right: .3em;}
[class^="icon-"]:before,[class*=" icon-"]:before {text-decoration: inherit;display: inline-bloc;speak: none;}
.icon-large:before {vertical-align: -10%; font-size: 1.333333333333333em;}
a [class^="icon-"], a [class*=" icon-"] {display: inline;}
[class^="icon-"].icon-fixed-width,[class*=" icon-"].icon-fixed-width {display: inline-block;width: 1.1428571428571428em;text-align: right;padding-right: 0.2857142857142857em;}
[class^="icon-"].icon-fixed-width.icon-large,[class*=" icon-"].icon-fixed-width.icon-large {width: 1.4285714285714286em;}
[class^="icon-"].hide,[class*=" icon-"].hide {display: none;}
.icon-15x {font-size: 1.5em;}
.icon-2x {font-size: 2em;}
.icon-4x {font-size: 4em;}
[class^="icon-"].pull-left,[class*=" icon-"].pull-left {margin-right: .3em;}
[class^="icon-"].pull-right,[class*=" icon-"].pull-right {margin-left: .3em;}
[class^="icon-"],[class*=" icon-"] {display: inline;width: auto;height: auto;line-height: normal;vertical-align: baseline;background-image: none;background-position: 0% 0%;background-repeat: repeat;}
.icon-spin {display: inline-block;-moz-animation: spin 2s infinite linear;-o-animation: spin 2s infinite linear;-webkit-animation: spin 2s infinite linear;animation: spin 2s infinite linear;}
a .icon-stack, a .icon-spin {display: inline-block;text-decoration: none;}
@-moz-keyframes spin {0% {-moz-transform: rotate(0deg);}100% {-moz-transform: rotate(359deg);}}
@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg);}100% {-webkit-transform: rotate(359deg);}}
@-o-keyframes spin {0% {-o-transform: rotate(0deg);}100% {-o-transform: rotate(359deg);}}
@-ms-keyframes spin {0% {-ms-transform: rotate(0deg);}100% {-ms-transform: rotate(359deg);}}
@keyframes spin {0% {transform: rotate(0deg);}100% {transform: rotate(359deg);}}

.icon-spinner:before {content: "\f110";}
.icon-chevron-sign-left:before {content: "\f137";}
.icon-github:before {content: "\f09b";}
.icon-expand-alt:before {content: "\f116";}
.icon-collapse-alt:before {content: "\f117";}
.icon-remove:before { content: "\f00d"; }
.icon-file-text-o:before { content: "\f0f6"; }
.icon-fa-times:before { content: "\f00d"; }
.icon-fa-users:before { content: "\f03a"; }
.icon-fa-level-up:before {  content: "\f0d8"; }
.icon-fa-level-down:before {content: "\f0d7"; }
.icon-circle:before {content: "\f111"; vertical-align: middle; padding: 0 3px;}
.icon-download:before {content: "\f019";}
.icon-chart:before {content: "\f080";}
.icon-sort-amount-asc:before {content: "\f160";}
.icon-sort-amount-desc:before {content: "\f161";}

.icon-remove:hover {color: #babcbe; cursor: pointer;}
.icon-fa-level-up:hover { color: #babcbe; cursor: pointer;}
.icon-fa-level-down:hover { color: #babcbe; cursor: pointer;}
