
/* Top Section */
#graphNameCont {width: 100%; height: 100px;}
#goBackFilter { float: left; margin: 23px 0 0 20px; width: 188px; height: 40px; border: none; background-image: url('images/left_arrow.png'); background-size: 100% 40px;}
#goBackGallery { width: 204px; border: none; background-image: url('images/left_arrow.png'); background-repeat: no-repeat; background-size: 100% 40px;}

.col3 { float: left; width: 31%;  height: auto; min-height: 250px; margin: 0% 10px 2% 10px; border: 2px solid #241f20; font-size: 16px; color: #000;}
.col3:hover { cursor: pointer; border: 2px solid #241f20; background-color: #241f20; color: #fff; -webkit-transition:.4s; -moz-transition:.4s; -o-transition:.4s; transition:.4s;}
.col3 img { width: 100%; display: inline-block; border-top: 2px #241f20 solid;}
#GraphGallery {margin-left: 10px;}
.graphGalleryTitle { width: 100%; height: 25px; float: left; text-align: center;}

#share_box { display: none; z-index: 5; background: #fff; border: 1px solid #000; outline: 0; color: #919396; width: 700px; height: 300px; top: 310px; position: fixed; left: calc(40% - 250px);}
#share_box .info { font-size: 16px; margin: 20px 0 0 20px; }
#share_box .info span { color: #241f20; font-style: italic; }

#taxonomy_container { width: 100%; opacity: 0;}
#loadingIcon { position: absolute; top: 400px; left: 600px; opacity: 0;}

#exportShareDiv {display: none; width: 800px; height: 600px; border: 1px solid #000; position: absolute; top: 120px; left: 300px; background: #fff; border: 1px solid rgba(0,0,0,0.2); box-shadow: 0 3px 9px rgba(0,0,0,0.5); z-index: 5;}
#exportLoading {position: absolute; top: 250px; left: 350px;}
#exportHeader {padding: 20px;}
#downloadPreview {margin: 20px; overflow: hidden;}

/* Sharing modals */
#sharingInfo { position: absolute; display: none; top: 310px; left: calc(50% - 200px); height: 400px; width: 600px; z-index: 5; font-size: 15px; font-weight: bold; color: #aaa;}
#sharingInfo .loading { text-align: center; margin: 25% 0 0 0;}
#sharingInfo .shareForm { padding: 20px; display: none;}
#sharingInfo label { display: block; margin-bottom: 3px;}
#sharingInfo label:before { display: none;}
#sharingInfo input { display: block; margin-bottom: 10px; outline: none; border: #241f20 solid 1px; }
#sharingInfo textarea { outline: none; border: #241f20 solid 1px; resize: none;}
#sharingInfo .results { padding: 20px; margin-top: 15%; }
#sharingInfo .results a { color: #241420; }

/* Layer Switch Part */
#layerSwitch { font-family: 'Karla', sans-serif; display: none;  width: 802px; height: 36px; margin: -90px 0px 0px 20px;}
.rectLayer { float: left; padding: 0 10px; height: 33px; line-height: 33px; color: #c2c4c6; z-index: 3;}
.rectLayer:hover { cursor: pointer; color: #fff; background-color: #241f20; -webkit-transition:.4s; -moz-transition:.4s; -o-transition:.4s; transition:.4s;}
.cntline {width: 35px; height: 2px; float: left; background-color: #c2c4c6; border-top: 16px solid #fff; border-bottom: 15px solid #fff;}
.selectedLayer {color: #241f20; font-weight: 700;}
.selectedLine { background-color: #241f20;}


/* Button Switch */

.switchGroup { display: none; position: absolute; border: none; height: 36px; margin-left: 730px;}
.switchGroup button { border: none; margin: 0; height: 36px; color: #241f20; background: #f0f0f0; padding: 0 10px; font-size: 12px; float: left;}
.switchGroup .clicked { color: #fff; background: #241f20; -o-transition: background .6s; -ms-transition: background .6s; -moz-transition: background .6s; -webkit-transition: background .6s; transition: background  .6s; }

/* Legend */

#legend_header { font-family: 'Karla', sans-serif; display: none; position: fixed; top: 320px; right: 0px; width: 180px; height: 34px; border: none; color: #241f20; background-color: #f0f0f0; text-align: center; line-height: 34px;}
#legend_header:hover { cursor: pointer;}
#legend_container { font-family: 'Karla', sans-serif; opacity: 0; position: fixed; top: 354px; right: 0; border-left: 1px solid #c3c3c3; border-bottom: 1px solid #c3c3c3; background: rgba(255,255,255,0.9);}
#legend_container p { padding-left: 20px; font-size: 13px; margin: 10px 0 0 0;}
#legend_container ul { font-size: 12px; line-height: 16px; list-style: none; margin: 10px 20px; padding: 0;}
#legend_container ul em { float: right; color: #8d9195; font-style: normal;}

/* Auto-Complete Sections */

#tags { font-family: 'Karla', sans-serif;display: none; width: 200px; height: 34px; position: absolute; right: 20px; top: 180px; font-size: 15px; border: none; background: #f0f0f0; z-index: 3; text-align: right; padding-right: 15px;}
#autoCompleteList {  display: none; position: absolute; right: 20px; top: 240px; font-size: 12px;  line-height: 16px;  border-radius: 3px;  background: rgba(255,255,255,0.9);  color: #000;  box-shadow: 0 1px 5px rgba(0,0,0,0.4);  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4); overflow-y: scroll; max-height: 400px; z-index: 1;}
#autoCompleteList ul { list-style: none; padding: 15px 10px 0px 15px;}
#autoCompleteList ul li { padding: 5px 0;}
#autoCompleteList ul li:hover{ background: rgba(229,229,229,0.6); cursor: pointer;}
#autoCompleteList ul em { color: #241f20; float: right; font-style: normal;}

/* 1 Taxonomy Bar Chart */
.PanelImg {position: absolute; margin-left: -30px; margin-top: -6px; height: 50px;}
.PanelHead { font-family: 'Karla', sans-serif; color: #919191; margin: 10px; padding-bottom: 5px; line-height: 20px;}
.PanelHead span { font-family: 'Varela Round', sans-serif; color: #241f20; font-size: 16px; font-weight: 700;}
.PanelHead em { color: #241f20; font-weight: bold; font-style: normal;}
.PanelHalf { font-family: 'Karla', sans-serif; width: 50%; float: left;}
.PanelInfo { font-family: 'Karla', sans-serif; color: #919191; margin: 10px 10px -10px 10px;}
.PanelInfo span { font-family: 'Varela Round', sans-serif; color: #241f20; font-size: 15px; font-weight: 700;}
.PanelInfo em { color: #241f20; font-style: normal;}
.PanelBody { font-family: 'Karla', sans-serif; margin: 10px;}

.basicTooltip progress { width: 100%; height: 25px; padding: 15px 10px 0 10px; background-color: transparent; border: none; -webkit-appearance: none; appearance: none;}
.basicTooltip progress[value]::-webkit-progress-bar { background-color: #f0f0f0; }
.basicTooltip progress[value]::-webkit-progress-value { background-color: #58595b; }
.basicTooltip progress[value]::-moz-progress-bar { background-color: #58595b; color: #f0f0f0;}

.hideSampleContainer { position: absolute; font-size: 12px; padding: 5px; }
.hideSample { color: #241f20; font-weight: bold; border: none; margin: -35px 10px 0px 25px; padding: 5px 10px; background: #f0f0f0;}
.hideSample:hover { cursor: pointer;}

#deleteSampleArr { margin: 30px 0px 0px 20px;}
#deleteSampleArr p { margin: 0; font-style: italic; color: #241f20; }
#deleteSampleArr span { cursor: pointer;}
#deleteSampleArr ul { opacity: 0; width: 400px; list-style: none; padding: 20px 0 0 0;}
#deleteSampleArr ul li { padding: 5px 10px;	}
#deleteSampleArr ul li span { float: right;}
#iconRemover4SampleDiv { opacity: 0; margin: 15px 0 0 380px; position: absolute; z-index: 3; }

.fake { height: 12px; margin-bottom: 2px; background-color: rgba(0,0,0,0); }
#fake_taxonomy_container { position: absolute; top: 270px; left: 50px; z-index: -1;}
#outline { display: none; position: fixed; right: 0px; top: 420px; cursor: default !important;}
#IdNameSort {margin-left: 850px;}

/* 2 Bubble Chart */


#bubblePanel { position: absolute; top: 350px; left: 200px; width: 880px; text-align: left; background: rgba(255,255,255,0.9);}
#bubbleRemover { position: absolute; top:358px; left: 1050px; cursor: pointer;}

.bubbleTaxHeader { font-family: 'Karla', sans-serif; width: 860px; height: 40px; font-size: 12px; line-height: 40px; padding-left: 40px; background: url('images/header.png') no-repeat;}
.bubbleTaxHeader .descName { float: left; width: 550px; height: 40px; line-height: 20px; word-wrap: break-word;}
.bubbleTaxHeader .descInfo { color: #241f20; float: right; margin-right: 65px;}
.bubbleTaxHeader .descInfo span {font-size: 16px; font-weight: 700;}

#bubbleSliderContainer { display: none; width: 180px; margin-left: 30px; margin-top: 15px; color: #222020; font-size: 12px;}
#bubbleSlider { width: 175px; position: absolute; height: 2px; border: none; background: #bbb;}
#bubbleSlider .ui-widget-header { background: #241f20;}
.sliderIcons { text-align: center; margin: 0px 5px -18px 0px;}
#bubbleSliderLeft { margin-bottom: 10px;}
#bubbleSliderRight { float: right; margin: -26px -4px 0 0;}

/* 3 Sankey Diagram */

#MsgBox { width: 350px; height: 33px; color: #241f20; line-height: 33px; font-size: 12px; font-style: italic;}

.nullnode { display: none;}
.node rect { shape-rendering: crispEdges;}
.node rect:hover { cursor: pointer; fill-opacity: 1;}
.node text { pointer-events: none;}
.link:hover { fill-opacity: .6; cursor: pointer;}

#sankeyInfo { font-family: 'Karla', sans-serif; position: fixed; top: 20px; width: 100%; height: 750px; margin-top: -100px; background: rgba(255,255,255,0.9); color: #000; }
.sankeyInfobox { width: 800px; height: 850px; padding: 0 20px; border: 1px solid #c8c8c8; margin: 0 auto; margin-top: 100px; background-color:white; position: relative;}
#sankeyRemover { cursor: pointer; width: 15px; height: 20px; margin: 15px; position: absolute; right: 0; top: 0;}

/* 4 Donut Partition */

.donutSwitch{ position: absolute; float: right; right: 20px; border: none; height: 28px;}
.donutSwitch button { border: none; margin: 0; height: 28px; color: #241f20; background: #f0f0f0; padding: 0 10px; font-weight: bold; font-size: 12px;}
.donutSwitch .clicked { color: #fff; background: #241f20; -o-transition: background .6s; -ms-transition: background .6s; -moz-transition: background .6s; -webkit-transition: background .6s; transition: background .6s;}

/* 5 Attributes Column Chart */

#attributes_dropdown { position: absolute; top: 115px; right: 20px; height: 32px; border: none; }
#count_header { font-family: 'Karla', sans-serif; display: none; position: fixed; top: 550px; right: 0px; width: 180px; height: 34px; border: none; color: #241f20; background-color: #f0f0f0; text-align: center; line-height: 34px;}
#count_header:hover { cursor: pointer;}
#count_container { opacity: 0; position: fixed; top: 584px; height: 125px; overflow-y: scroll; right: 0; border-left: 1px solid #c3c3c3; border-bottom: 1px solid #c3c3c3; background: rgba(255,255,255,0.6); width: 400px; overflow-wrap: break-word; padding-bottom: 10px;}
#count_container span { font-size: 14px;  font-weight: bold; display: block; margin: 5px 0; margin: 10px 0 10px 20px; color: #919191;}
#count_container p { margin: 0; font-size: 12px; padding: 1px 20px;	}

/* 6 Bubble Chart By OTU */

circle { fill: #ff8900; stroke: #999;}
circle.parent { fill: #ff8900; fill-opacity: .1;}
circle.parent:hover { stroke: #ff7f0e; stroke-width: 2px;}
circle.child { pointer-events: none;}

