
/* Top Section */

#goBackFilter { float: left; margin: 20px; width: 204px; height: 50px; border: none; background-image: url('images/left_arrow.jpg'); }
#goBackGallery { width: 204px; border: none; background-image: url('images/left_arrow.jpg'); background-repeat: no-repeat;}

.col3 { float: left; width: 31%;  height: auto; min-height: 250px; margin: 0% 10px 2% 10px; border: 2px solid #ccc; font-size: 17px; color: #6f6f6f;}
.col3:hover { cursor: pointer; border: 2px solid #ff8900; background-color: #ff8900; color: #ffffff; -webkit-transition:.4s; -moz-transition:.4s; -o-transition:.4s; transition:.4s;}
.col3 img { width: 100%; display: inline-block; border-top: 2px #ccc solid;}
.graphGalleryTitle { width: 100%; height: 25px; float: left; text-align: center;}

#taxonomy_container { width: 100%; opacity: 0;}
#loadingIcon { position: absolute; top: 400px; left: 600px; opacity: 0;}

#exportShareDiv {display: none; width: 800px; height: 600px; border: 1px solid #000; position: absolute; top: 120px; left: 300px; background: #fff; border: 1px solid rgba(0,0,0,0.2); box-shadow: 0 3px 9px rgba(0,0,0,0.5); z-index: 5;}
#exportLoading {position: absolute; top: 250px; left: 350px;}
#exportHeader {padding: 20px;}
#downloadPreview {margin: 20px; overflow: hidden;}

/* Layer Switch Part */

#layerSwitch { display: none;  width: 802px; height: 36px; background-color: #f2f2f2; margin: -13px 0px 0px 20px;}
.line { width: 685px; height: 3px; background-color: #e4e4e4; position: absolute; margin-top: 18px; margin-left: 55px;}
.progressLine { width: 120px; height: 3px; background-color: #ff8900; position: absolute; margin-top: 18px; margin-left: 57px;}
.circle { position: relative; width: 80px; height: 65px; float: left; z-index: 3; background: url('images/circle.png') no-repeat; margin: -30px 17px 0px 17px;}
.circle:hover { cursor: pointer; -o-transition:.6s; -ms-transition:.6s; -moz-transition:.6s; -webkit-transition:.6s; transition: .6s;}
.selected_layer { background: url('images/circleOrange.png') no-repeat !important;}
#layer_1:hover { background: url('images/kingdom.png') no-repeat; }
#layer_2:hover { background: url('images/phylum.png') no-repeat; }
#layer_3:hover { background: url('images/class.png') no-repeat; }
#layer_4:hover { background: url('images/order.png') no-repeat; }
#layer_5:hover { background: url('images/family.png') no-repeat; }
#layer_6:hover { background: url('images/genus.png') no-repeat; }
#layer_7:hover { background: url('images/species.png') no-repeat; }

/* Button Switch */

.switchGroup { display: none; position: absolute; border: 2px solid #ff8900; height: 32px; margin-left: 830px;}
.switchGroup button { border: none; margin: 0; height: 32px; color: #ff8900; background: #fff; padding: 0 10px; font-weight: bold; font-size: 12px; }
.switchGroup .clicked { color: #fff; background: #ff8900; -o-transition: background .6s; -ms-transition: background .6s; -moz-transition: background .6s; -webkit-transition: background .6s; transition: background  .6s; }

/* Legend */

#legend_header {
	display: none;
	position: fixed;
	top: 350px;
	right: 0px;
	width: 146px;
	height: 30px;
	border: 2px solid #ff8900;
	border-right: none;
	color: #ff8900;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}
#legend_header:hover {
	cursor: pointer;
}
#legend_container {
	opacity: 0;
	position: fixed;
	top: 384px;
	right: 0;
	border-left: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	background: rgba(255,255,255,0.6);
}
#legend_container p {
	padding-left: 20px;
	font-size: 13px;
	margin: 10px 0 0 0;
}
#legend_container ul {
	font-size: 12px;
	line-height: 16px;
	list-style: none;
	margin: 10px 20px;
	padding: 0;
}

#legend_container ul em {
	float: right;
	color: #ff8900;
}
/* Auto-Complete Sections */

#tags {
	display: none;
	width: 200px;
	height: 32px;
	position: absolute;
	right: 20px;
	top: 191px;
	font-size: 15px;
	border: 1px solid #bbb;
	background: url('images/search.png') no-repeat right center;
}

#autoCompleteList { 
	display: none;
	position: absolute;
	right: 20px;
	top: 240px;
	font-size: 12px; 
	line-height: 16px; 
	border-radius: 3px; 
	background: rgba(255,255,255,0.9); 
	color: #000; 
	box-shadow: 0 1px 5px rgba(0,0,0,0.4); 
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	overflow-y: scroll;
	max-height: 400px;
	z-index: 1;
}
#autoCompleteList ul {
	list-style: none;
	padding: 15px 10px 0px 15px;
}
#autoCompleteList ul li {
	padding: 5px 0;
}
#autoCompleteList ul li:hover{
	background: rgba(239,193,79,0.6);
	cursor: pointer;
}
#autoCompleteList ul em {
	color: #ff8900;
	float: right;
	font-style: normal;
}

/* 1 Taxonomy Bar Chart */

.PanelHead { color: #444; margin: 10px; padding-bottom: 5px; border-bottom: 1px solid #bbb;}
.PanelInfo { color: #444; margin: 10px 10px -10px 10px;}
.PanelInfo span { font-size: 14px; font-weight: bold;}

.basicTooltip progress { width: 100%; height: 3px; padding: 0 10px; background-color: #fff; border: none; -webkit-appearance: none; appearance: none;}
.basicTooltip progress[value]::-webkit-progress-bar { background-color: #bbb; }
.basicTooltip progress[value]::-webkit-progress-value { background-color: #ff8900; }
.basicTooltip progress[value]::-moz-progress-bar { background-color: #ff8900; color: red;}

.hideSample { color: #ff8900; font-weight: bold; border: 2px solid #ff8900; margin: -35px 10px 0px 25px; padding: 5px 10px; background: #fff;}
.hideSample:hover { cursor: pointer;}

#deleteSampleArr { margin: 0px 0px 0px 20px;}
#deleteSampleArr span { color: #ff8900; cursor: pointer;}
#deleteSampleArr ul { opacity: 0; width: 400px; list-style: none; margin-top: -5px; padding: 20px 0 0 0;}
#deleteSampleArr ul li { padding: 5px 10px;	}
#deleteSampleArr ul li span { float: right;}
#iconRemover4SampleDiv { opacity: 0; margin-left: 380px; position: absolute; z-index: 3; }

#fake_taxonomy_container { position: absolute; top: 270px; left: 50px; z-index: -1;}
.fake { height: 12px; margin-bottom: 2px; background-color: rgba(0,0,0,0); }
#outline { display: none; position: fixed; right: 0px; top: 420px; cursor: default !important;}

/* 2 Bubble Chart */

#bubbleTooltip { padding: 10px 10px 5px 10px; }
#bubblePanel { position: absolute; top: 288px; left: 200px; width: 880px; text-align: left; background: rgba(255,255,255,0.9);}
#bubbleRemover { position:absolute; top:298px; left: 1050px; cursor: pointer;}

.bubbleTaxHeader { width: 860px; height: 40px; line-height: 40px; padding-left: 50px; font-weight: bold; background: url('images/header.png') no-repeat;}
.bubbleTaxHeader span { color: #c3c3c3;}

#bubbleSliderContainer { display: none; width: 180px; margin-left: 1010px; margin-top: -35px; color: #ff8900; font-size: 12px;}
#bubbleSlider { width: 175px; position: absolute; height: 3px; border: none; background: #bbb;}
#bubbleSlider .ui-widget-header { background: #ff8900;}
.sliderIcons { text-align: center; margin: 0px 5px -18px 0px;}
#bubbleSliderLeft { margin-bottom: 10px;}
#bubbleSliderRight { float: right; margin: -26px -4px 0 0;}

/* 3 Sankey Diagram */

#sankeyMsgBox { width: 350px; height: 33px; color: #ff8900; line-height: 33px; font-size: 12px; font-style: italic;}

.nullnode { display: none;}
.node rect { shape-rendering: crispEdges;}
.node rect:hover { cursor: pointer; fill-opacity: 1;}
.node text { pointer-events: none;}
.link:hover { fill-opacity: .6; cursor: pointer;}

#sankeyInfo { position: fixed; top: 50px; width: 100%; height: 750px; margin-top: 100px; background: rgba(255,255,255,0.9); color: #000; }
.sankeyInfobox { width: 800px; height: 850px; padding: 0 20px; border: 1px solid #c8c8c8; margin: 0 auto; margin-top: -100px; background-color:white; position: relative;}
#sankeyRemover { cursor: pointer; width: 15px; height: 20px; margin: 15px; position: absolute; right: 0; top: 0;}

/* 4 Donut Partition */

.donutSwitch{ position: absolute; float: right; right: 20px; border: 2px solid #ff8900; height: 28px;}
.donutSwitch button { border: none; margin: 0; height: 28px; color: #ff8900; background: #fff; padding: 0 10px; font-weight: bold; font-size: 12px;}
.donutSwitch .clicked { color: #fff; background: #ff8900; -o-transition: background .6s; -ms-transition: background .6s; -moz-transition: background .6s; -webkit-transition: background .6s; transition: background .6s;}

/* 5 Attributes Column Chart */

#attributes_dropdown {
	position: absolute;
	top: 115px;
	right: 20px;
	height: 32px;
	border: 2px solid #ff8900;
}

#count_header {
	display: none;
	position: fixed;
	top: 600px;
	right: 0px;
	width: 146px;
	height: 30px;
	border: 2px solid #ff8900;
	border-right: none;
	color: #ff8900;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}
#count_header:hover {
	cursor: pointer;
}
#count_container {
	opacity: 0;
	position: fixed;
	top: 634px;
	right: 0;
	border-left: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	background: rgba(255,255,255,0.6);
	width: 400px;
	overflow-wrap: break-word;
	padding-bottom: 10px;
}

#count_container span {
	font-size: 14px; 
	font-weight: bold;
	color: #ff8900;
	text-align: center;
	display: block;
	margin: 5px 0;
}
#count_container p {
	margin: 0;
	font-size: 12px;
	padding: 1px 20px;	
}


/* 6 Bubble Chart By OTU */

circle {
	fill: #ff8900;
	stroke: #999;
	/*pointer-events: all;*/
}

circle.parent {
	fill: #ff8900;
	fill-opacity: .1;
	/*stroke: steelblue;*/
}

circle.parent:hover {
	stroke: #ff7f0e;
	stroke-width: 2px;
}

circle.child {
	pointer-events: none;
}

